@model Sales.Models.ViewModels.MainViewModel
@{
    Context.Request.Cookies.TryGetValue("SalesPromoCode", out string promoCode);
    ViewData["Title"] = "Распродажа книг";
    ViewData["PageNumber"] = Model.BooksPageViewModel?.PageNumber;
}
<partial name="_ErrorPanel" model="Model" />
<div class="row">
    <div class="col-md-6">
        @if (Model.BooksPageViewModel!=null && Model.BooksPageViewModel.HasBooks)
        {
            <partial name="Books/_BooksPage" model="@Model.BooksPageViewModel" />       
        }
    </div>
    <div class="col-md-6">
        @if (Model.UserOrder != null)
        {
            <partial name="Order/_UserOrder" model="Model.UserOrder" />
        }
        else if (string.IsNullOrWhiteSpace(promoCode))
        {
            <h3>Вы не авторизованы</h3>
            <p>Чтобы приступить к покупкам <a asp-controller="Authentication" asp-action="Index">Войдите</a> </p>
            <p>При отсутвии промокода нажмите: </p>
            <a asp-controller="Authentication" asp-action="Login" class="btn btn-info">Получить промокод</a>
        }
    </div>
</div>
